.ratings {
   li {
      max-width: 25rem;
      margin-left: auto;
      margin-right: auto;
      color: var(--Very-Dark-Magenta);
      background: var(--Light-Grayish-Magenta);
      font-weight: 800;
      padding: 0.75rem 2rem;
      border-radius: var(--border-radius);

      &::before {
         content: "";
         width: 100px;
         height: 1rem;
         margin: 0 auto;
         display: block;
         margin-bottom: 0.5rem;
         background-image: url("/images/icon-star.svg");
         background-repeat: space;
      }

      @media (min-width: 50em) {
         display: flex;
         align-content: center;

         &::before {
            margin: 0 1.5rem 0 0;
         }

         &:first-of-type {
            transform: translateX(-3rem);
         }
         &:last-of-type {
            transform: translateX(3rem);
         }
      }
   }
   p.stars {
      font-family: "Poppins";
      font-size: 0.8rem;
      opacity: 0.9;
   }
}
