/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  --Very-Dark-Magenta: hsl(300, 43%, 22%);
  --Soft-Pink: hsl(333, 80%, 67%);
  --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
  --Light-Grayish-Magenta: hsl(300, 24%, 96%);
  --White: hsl(0, 0%, 100%);
  --font-family: "spartan", sans-serif;
  --font-size-400: 0.81rem;
  --font-size-500: 0.8rem;
  --font-size-900: 2rem;
  --border-radius: 0.5rem;
  --spacer: 2rem;
}

@media (min-width: 50em) {
  :root {
    --font-size-900: 3rem;
  }
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size-400);
  padding-top: 5rem;
  text-align: center;
  background-image: url("/images/bg-pattern-top-desktop.svg"), url("/images/bg-pattern-bottom-desktop.svg");
  background-position: top left, bottom right;
  background-repeat: no-repeat;
  background-size: 50%;
}

@media (min-width: 50em) {
  body {
    padding-top: 7.5rem;
  }
}

.container {
  max-width: 70rem;
  padding: 0 2em;
  margin: 0 auto;
}

.flow-content > * + * {
  margin-top: var(--flow-space, 1rem);
}

h1 {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 2.5rem;
  color: var(--Very-Dark-Magenta);
  line-height: 1;
  max-width: 12ch;
  margin-bottom: 0.25em;
  opacity: 0.9;
}

@media (max-width: 50em) {
  h1 {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
  }
}

.lead {
  font-size: var(--font-size-500);
  font-weight: 600;
  opacity: 0.3;
  font-family: "Poppins";
}

main {
  display: -ms-grid;
  display: grid;
  gap: 3rem 1rem;
}

@media (min-width: 50em) {
  main {
    -ms-grid-columns: 1fr 1.5fr;
        grid-template-columns: 1fr 1.5fr;
    text-align: left;
  }
  .info {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
  .ratings {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .content-quotes {
    grid-column: 1 / -1;
  }
}

.ratings li {
  max-width: 25rem;
  margin-left: auto;
  margin-right: auto;
  color: var(--Very-Dark-Magenta);
  background: var(--Light-Grayish-Magenta);
  font-weight: 800;
  padding: 0.75rem 2rem;
  border-radius: var(--border-radius);
}

.ratings li::before {
  content: "";
  width: 100px;
  height: 1rem;
  margin: 0 auto;
  display: block;
  margin-bottom: 0.5rem;
  background-image: url("../images/icon-star.svg");
  background-repeat: space;
}

@media (min-width: 50em) {
  .ratings li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .ratings li::before {
    margin: 0 1.5rem 0 0;
  }
  .ratings li:first-of-type {
    -webkit-transform: translateX(-3rem);
            transform: translateX(-3rem);
  }
  .ratings li:last-of-type {
    -webkit-transform: translateX(3rem);
            transform: translateX(3rem);
  }
}

.ratings p.stars {
  font-family: "Poppins";
  font-size: 0.7rem;
  opacity: 0.9;
}

.content-quotes li:nth-child(2) {
  -webkit-transform: translateY(3rem);
          transform: translateY(3rem);
}

.content-quotes li:nth-child(3) {
  -webkit-transform: translateY(6rem);
          transform: translateY(6rem);
}

.content-quotes blockquote {
  max-width: 25rem;
  margin: 0 auto;
  height: 100%;
  background-color: var(--Very-Dark-Magenta);
  color: var(--Light-Grayish-Magenta);
  text-align: left;
  border-radius: var(--border-radius);
  padding: var(--spacer);
}

.split {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 50em) {
  .split {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.s-gap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}

img {
  width: 3rem;
  border-radius: 50%;
}

@media (min-width: 50em) {
  img {
    margin-right: var(--spacer);
  }
}

.align-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quote__name {
  font-weight: 600;
  font-family: "Poppins";
}

.quote__status {
  color: var(--Soft-Pink);
  opacity: 0.5;
}

.quote {
  font-family: "Poppins";
  margin-top: var(--spacer);
  font-size: 0.7rem;
  font-weight: 500;
}

@media (min-width: 50em) {
  .quote {
    width: 16.56rem;
  }
}
/*# sourceMappingURL=main.css.map */